{% extends 'base.html' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>New Article</h1>
        </div>
        <div class="panel-body">
            <form action="{% url 'blog:create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if errors %}
                    <div class="alert alert-danger">{{ errors }}</div>
                {% endif %}

                {% for field in blog_form %}
                     <div class="form-group">
                        <label class="control-label col-md-2">{{  field.label }}</label>
                        <div class="col-md-10">
                            {{  field }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-md-3 col-md-offset-3">
                            <a href="{% url 'blog:index' %}" class="btn btn-block btn-default">Cancel</a>
                        </div>
                    <div class="col-md-3 text-center">
                        <button type="submit" name="update" class="btn btn-primary btn-block">Save Article</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
