{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    {% if blog %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Edit : {{ blog }}</h1>
            </div>
            <div class="panel-body">
                <form action="{% url 'blog:edit' blog.slug %}" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if errors %}
                        <div class="alert alert-danger">{{ errors }}</div>
                    {% endif %}
                    {% for field in blog_form %}
                         <div class="form-group">
                            <label class="control-label col-md-2">{{  field.label }}</label>
                            <div class="col-md-10">
                                {{  field }}
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-3">
                            <a href="{% url 'blog:show' blog.slug %}" class="btn btn-block btn-default">Cancel</a>
                        </div>
                        <div class="col-md-3 text-center">
                            <button type="submit" name="update" class="btn btn-primary btn-block">Update Article</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
