{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    {% if blog %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="small">{{ blog.published_at }}</p>
                <h1>{{ blog }}</h1>
                <p>By : {{  blog.author.first_name }} {{  blog.author.last_name }}<br>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>{% if blog.image %}
                            <img src="{{ blog.image }}" align="right">
                        {% endif %}
                        {{  blog.body|safe }}</p>
                    </div>
                </div>
                {% include 'blog/partials/labels.html' %}

                {% if user.is_authenticated and user.id == blog.author.id %}
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <a class="btn btn-default btn-block" href="{% url 'blog:edit' blog.slug %}">Edit</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-danger btn-block" href="{% url 'blog:delete' blog.slug %}">Delete</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if blog.comments %}
            <h3>Comments</h3>

            {% for comment in blog.comments %}
                <div class="row">
                    <div class="col-md-12">
                        {% include 'blog/partials/comment.html' %}
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <p>There are no comments for this article.</p>
        {% endif %}
        {% if user.is_authenticated %}
            {% include 'blog/partials/comment_form.html' %}
        {% else %}
            <p><a href="{% url 'register:login' %}">Login</a> or <a href="{% url 'register:register' %}">register</a> to comment!</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{  block.super }}
    <script language="javascript">
        $(".reply-button").on("click", function(){
            $("#comment_"+$(this).data("val")+"_reply").show();
        });
    </script>
{% endblock %}